        <div class="block-sidebar column one-fourth">
          <div class="widget text-content">
            <p>家穷人丑一米六九小学学籍农村户口?</p>
            <ul>
              <li>这是个悲伤的故事</li>
              <li>
                <a href="http://www.cnblogs.com/nullcnb">独立博客</a>
                作者
              </li>
            </ul>
          </div>
          <div class="widget tags">
            <ul class="tag-list">
               <% if(typeof tags != 'undefined'){ %>
                <% for(var i=0;i<tags.length;i++){ %>
                  <li class="tag-list-item">
                    <a class="tag-list-link" href="/tag/<%= tags[i].tag %>/"><%= tags[i].tagName %></a>
                  </li>
                <% } %>
              <% } %>
            </ul>
          </div>
          <div class="widget archives">
            <ul class="archive-list">
              <% if(typeof archiveList != 'undefined'){ %>
                <% for(var i=0;i<archiveList.length;i++){ %>
                  <li class="archive-list-item">
                    <a class="archive-list-link" href="/<%= archiveList[i].year %>/<%= archiveList[i].month %>/"><%= archiveList[i].month %> <%= archiveList[i].year %></a>
                    <span class="archive-list-count"><%= archiveList[i].count %></span>
                  </li>
                <% } %>
              <% } %>
            </ul>
          </div>
          <div class="widget text-content">
            <p>
              该博客使用基于 &nbsp;
              <a href="http://www.expressjs.com">express</a>
            </p>
          </div>
        </div>
    </div>
  </div>
</body>
</html>