        <div class="block-sidebar column one-fourth">
          <div class="widget text-content">
            <p>浮世梦中梦，布衣材不材，弹铗狂歌莫浪猜。埋，愚贤何用哉？青山在，月明归去来。</p>
            <ul>
              <li>
                <a href="http://www.nullcn.com">独立博客</a>
                作者
              </li>
              <li>
                前(quan)端(zhan)工程师
              </li>
              <li>
                失业中
              </li>
            </ul>
          </div>
          <div class="widget tags">
            <ul class="tag-list">
               <% if(typeof tags != 'undefined'){ %>
                <% for(var i=0;i<tags.length;i++){ %>
                  <li class="tag-list-item">
                    <a class="tag-list-link" href="/tag/<%= tags[i].tag %>/"><%= tags[i].tagName %></a>
                  </li>
                <% } %>
              <% } %>
            </ul>
          </div>
          <div class="widget archives">
            <ul class="archive-list">
              <% if(typeof archiveList != 'undefined'){ %>
                <% for(var i=0;i<archiveList.length;i++){ %>
                  <li class="archive-list-item">
                    <a class="archive-list-link" href="/<%= archiveList[i].year %>/<%= archiveList[i].month %>/"><%= archiveList[i].monthFormat %> <%= archiveList[i].year %></a>
                    <span class="archive-list-count"><%= archiveList[i].count %></span>
                  </li>
                <% } %>
              <% } %>
            </ul>
          </div>
          <div class="widget text-content">
            <p>
              <a target="_blank" href="https://nodejs.org" class="favicon">
                <img alt="myGitosc" src="/blog/images/nodejs.png"/>
              </a>
              <a target="_blank" href="https://www.mongodb.com" class="favicon">
                <img alt="myGitosc" src="/blog/images/mongodb.ico"/>
              </a>
              <a target="_blank" href="https://github.com/mywei1989/blog" class="favicon">
                <img alt="myGithub" src="/blog/images/github.png"/>
              </a>
              <br />
              博客内容如无特殊说明均为原创，并使用
              <a target="_blank" href="http://creativecommons.org/licenses/by-nc-sa/3.0/cn/">CC BY-NC-SA 3.0</a>
              授权发布。
            </p>
          </div>
        </div>
    </div>
  </div>
</body>
</html>