<%- include _head %>
<%- include _navigation %>
<div class="block-body column three-fourths">
  <article>
    <header>
      <h2>
        <a href="#"><%= article.title %></a>
      </h2>
    </header>
    <div class="article-meta clearfix">
      <time class="left"><%= article.timeStr %></time>
      <ul class="tags left"></ul>
      <ul class="tags right">
        <% if(typeof article.tags != 'undefined'){ %>
          <% for(var i=0;i<article.tags.length;i++){ %>
            <li>
              <a href="/tag/<%= article.tags[i].tag %>/"><%= article.tags[i].tagName %></a>
            </li>
          <% } %>
        <% } %>
      </ul>
    </div>
    <div class="markdown-body">
      <%= article.post %>
    </div>
  </article>
</div>
<%- include _sidebar %>