<%- include _head %>
<%- include _navigation %>
<div class="post block-body column three-fourths">
  <article class="clearfix">
    <form method="post">
      <header>
        <h2>
          <input type="text" placeholder="中文标题" name="title" value="测试标题"/>
          <input type="text" placeholder="路由地址" name="name" value="testroute"/>
        </h2>
      </header>
      <div class="article-meta clearfix">
        <time class="left">
          <input type="text" placeholder="日期(yyyy/MM/dd hh:mm:ss)" name="date" value="2015/10/07 19:15:12"/>
        </time>

        <div class="one-third tags right clearfix">
          <label>
            <input type="checkbox" value="newtags" name="tags" />
            <span>新增</span>
          </label>
          <% if(typeof tags != 'undefined'){ %>
            <% for(var i=0;i<tags.length;i++){ %>
              <label for="tag_<%= tags[i].tag %>">
                <input id="tag_<%= tags[i].tag %>" type="checkbox" value="<%= tags[i].tag %>" name="tags" />
                <span><%= tags[i].tagName %></span>
              </label>
            <% } %>
          <% } %>
          <input type="text" class="right" name="newtags" value="tag1:标签1,tag2:标签2,tag3:标签3">
        </div>

      </div>

      <div class="markdown-body">
        <textarea name="post">
          # 一级标题
## 二级标题
* 无序列表1
* 无序列表2
1. 有序列表1
2. 有序列表2
> 引用
![图片](http://url)

*一个星号包裹是斜体*
**两个星号包裹是粗体**
***   三个星号是分隔符
| Tables        | Are           | Cool  |
| ------------- |:-------------:| -----:|
| col 3 is      | right-aligned | $1600 |
| col 2 is      | centered      |   $12 |
| zebra stripes | are neat      |    $1 |


```javascript
var http = require("http");

var app = http.createServer(function(request, response) {
  response.writeHead(200, {"Content-Type": "text/plain"});
  response.end("Hello world!");
});

app.listen(3000, "localhost");
```

        </textarea>
      </div>
      <button type="submit" class="right">发布</button>
    </form>
  </article>
</div>
<%- include _sidebar %>